{% extends 'base.html' %}S
{% load static %}
{% block content %}

<!--======================= Card Loja ========================================================-->
<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/mudar.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->

<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/loja1.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->

<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/loja1.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->

<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/loja1.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->

<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/loja1.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->

<div class="row card_info_loja">
    <div class="col-md-2 quadro_imagem" id="Div_imagem_loja">
        <img src="{% static '/image/lojas/loja1.png'%}">
    </div>
    <div class="desc_loja col-md-4" id="Div_info_loja">
        <p>Nome da Loja</p>
        <p>Descrição da loja</p>
        <p>localização da loja</p>
    </div>
    <div class="pedido_desc col-md-4">
        <div>
            <p class="tituloDescricaoPedido">Sacola: </p>
            <p>item-1</p>
            <p>item-2</p>
            <p>item-3</p>
            <p>item-4</p>
        </div>
    </div>
    <div class="pedido_confirm col-md-2">
        <button class="btn btn-success ">Realizar pedido</button><br><br>
        <button class="btn btn-info">Verificar Cardápio completo</button><br><br>
        <button class="btn btn-warning ">Cancelar pedido</button>
    </div>
</div>
<br>
<!--======================= Card Loja ========================================================-->


{% endblock %}